:host {
  display: inline-block;
  width: 100%;
}

.vi-native-input {
  font: inherit;
  padding: 0.375rem 0.5rem;
  border: 1px solid #cbd5e0;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
}

.vi-native-input:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.12);
  border-color: #3182ce;
}

:host(.disabled) .vi-native-input {
  opacity: 0.6;
  cursor: not-allowed;
}

.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #dedede;
    border-width: 0px;
}

select {
  background-color: transparent;
  border-radius: 0px 3px 3px 0px;
}
button {
  border-radius: 0px;
}
input {
  &.dark-mode {
    background-color: #2a2a2a;
    color: #f1f1f1 !important;
    border: 1px solid #444;
  }
}

i {
  &.fa-close {
    position: absolute;
    left: calc(100% - 75px);
    top: 10px;
    font-size: 16px;
    cursor: pointer;

    &.dark-mode {
      color: #d2d2d2 !important;
    }
    &.multilanguage {
      left: calc(100% - 155px);
    }
  }
}